.view.view-company

    img.logo
        border-radius(100%)
        width 150px
        background color-white
        padding 20px

    section .cover
        blur-filter(3px)
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        pointer-events none
        width 100%