.company-box
    background color-gray-lighter
    position relative
    display block
    padding 10% 0
    box-sizing border-box

    .logo
        display block
        width 80%
        margin auto