input[type='text']
input[type='email']
input[type='password']
input[type='number']
select
textarea
    vertical-rhythm(10px)
    font-size 16px
    font-weight normal
    background color-gray-lighter
    border 0
    padding 10px 15px
    border-left 3px solid color-gray
    transition border-color .2s
    width 250px

    &:focus
        border-left-color color-brand

textarea
    height 50px

.field
    margin-bottom 10px

label
    color color-gray-dark

    &.inline
        margin-right 15px
        width 200px
        display inline-block
        text-align right
        vertical-align top
        margin-top 8px

fieldset
    vertical-rhythm()
    border 0
    padding 0