// Configuration
assets-dir = '/assets/'

// Fonts
font-base = 'Gotham'
font-special = font-base
font-heading = font-base

// Grayscale colors
color-black = #222
color-gray-darker = #666
color-gray-dark = #aaa
color-gray = #ccc
color-gray-light = #efefef
color-gray-lighter = #f5f5f5
color-gray-lightest = #f9f9f9
color-white = #fff

// Primary brand colors
color-brand = #f1b500
color-brand-dark = #ffa000
color-brand-darker = darken(color-brand-dark, 25%)
color-brand-darkest = darken(color-brand-dark, 40%)
color-brand-light = lighten(color-brand, 5%)
color-brand-lighter = lighten(color-brand, 10%)

// Secondary brand color
color-accent = #00BCD4
color-accent-dark = darken(color-accent, 15)
color-accent-light = lighten(color-accent, 15)
color-accent-lighter = lighten(color-accent, 30)
color-accent-lightest = lighten(color-accent, 50)

// Alternate colors
color-alternate = #297771
color-alternate-dark = darken(color-alternate, 15%)
color-alternate-darker = darken(color-alternate, 20%)
color-alternate-light = mix(color-alternate, color-white, 30%)
color-alternate-lighter = mix(color-alternate, color-white, 10%)
color-alternate-lightest = mix(color-alternate, color-white, 5%)

// Basic colors
color-green = #8bc86e
color-blue = #3997e7
color-aqua = #12d58e
color-red = #e86456
color-yellow = #fcf49d
color-lightblue = #87deeb
color-lightred = #ef7575

// Semantic colors
color-success = color-green
color-danger = color-red
color-warning = color-yellow
color-ruler = rgba(0, 0, 0, .05)

// Layout colors
color-bg = color-gray-lighter
color-text = color-black
header-color = #111

// Layout sizes
page-size = 1000px

// Breakpoints
breakpoint-mobile = 600px